/*Previous Colour Choices
    Orange: #ff6a00
*/

/*Add Fonts*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Raleway);

@font-face {
  font-family: 'hybernate'; /*https://icomoon.io/*/
  src:
    url('fonts/hybernate.ttf') format('truetype'),
    url('fonts/hybernate.woff') format('woff'),
    url('fonts/hybernate.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hybernate' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
}

.icon-hybernate_icon:before {
  content: "\e900";
  font-size: 60%;
}

.hybernate-fonts-main{
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-size: 250% !important;
}

.hybernate-fonts-secondary{
  font-family: 'Raleway', sans-serif !important;
  font-size: 125% !important;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/*Probably a better way but TODO later*/
h1, h2, h3, h4, h5 h6{
  font-family: 'Open Sans Condensed', sans-serif !important;
  font-size: 250% !important;
}

.btn{
    font-family: 'Raleway', sans-serif !important;
    font-size: 100% !important;
}

span, p{
  font-family: 'Raleway', sans-serif !important;
  font-size: 125%;
}

.linkeninprofile{
  font-size: 45% !important;
}

.container-custom{
    margin-left: 1%;
    margin-right: 1%;  
}

.container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 5%;
}

.top-divider{
    border-top-color:#ff6a00;
    border-top-width: 1px;
    border-top-style: solid;
}
.bottom-divider{
    border-bottom-color:#ff6a00 !important;
    border-bottom-width: 2px !important;
    border-bottom-style: solid !important;
}
.coloured-hr{
    background-color: #ff6a00;
    height: 1px;
}

.btn-off{
    color:#ffffff;
    background-color: #000000;
}
.btn-on{
  color: #ffffff;
  background-color: #ff6a00;
  border-color: #ff6a00;
}
.btn-label{
    border-right-color: #000000!important;
    border-right-width: 2px !important;
    border-right-style: solid !important;
    color: #000000 !important;
}

.navbar-align{
    padding-top:1px;
}

.navbar-brand{
    padding: 0px 15px;

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

/* Add Vertical Line in nav bar. ref:http://stackoverflow.com/questions/19203816/vertical-divider-doesnt-work-in-bootstrap-3 */
.navbar .divider-vertical {
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #ff6a00;
    border-left-color: #000000;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}

